<!DOCTYPE html>
<html>
  <body>
    <form action="/attachments/videos" method="post" enctype="multipart/form-data"></div>
      <input type="file" name="video" />
      <input type="submit" name="submit" value="Upload" />
    </form>
  </body>
</html>
